/* app css stylesheet */

table {
    border-collapse: unset;
}
td, th {
  padding: 5px;
  border: 1px solid #000;
  text-align:left;
}
th:first-child{
    color: #333;
    border-radius:15px 0 0 0;
}
th:last-child{
    color: #333;
    border-radius:0 15px 0 0;
}

tr:last-child td:first-child {
    border-radius:0 0 0 15px;
}

tr:last-child td:last-child {
    border-radius:0 0 15px 0;
}

tbody tr:hover {
  font-weight: bold;
}

button:hover { background-color: red}

td:nth-child(2),td:nth-child(3),td:nth-child(4) {text-align:center}

.clientBlock {
    float:left;
    width:30%;
    background-color:#f1f1f1;
    min-height: 440px;
    height:auto;
    margin-bottom:20px;
}
.clientBlock:nth-child(3n) {
    width:40%;
}

.inform {
    word-break: break-word;
}

#menu {
    background-color: #D8D8D8;
    margin-bottom: 10px;
    padding: 5px 0 5px 5px;
}

#menu > a {
    text-decoration: none;
    color: black;
    border: 1px solid #a7a7a7;
    padding: 5px;
    font-weight: bold;
    background-color: #c1c0c0;
}

#menu > a:hover {
    background-color: #a7a7a7;
}