/* app css stylesheet */

table {
  border-collapse: collapse;
}
td, th {
  padding: 5px;
  border: 1px solid #000;
  text-align:left;
}
th {
  background: gray;
  color: #333;
}
tbody tr:hover {
  font-weight: bold;
}

td:nth-child(2),td:nth-child(3),td:nth-child(4) {text-align:center}
