/* app css stylesheet */

table {
    border-collapse: unset;
}
td, th {
  padding: 5px;
  border: 1px solid #000;
  text-align:left;
}
th:first-child{
    color: #333;
    border-radius:15px 0px 0 0;
}
th:last-child{
    color: #333;
    border-radius:0px 15px 0 0;
}

tr:last-child td:first-child {
    border-radius:0 0 0px 15px;
}

tr:last-child td:last-child {
    border-radius:0 0 15px 0px;
}

tbody tr:hover {
  font-weight: bold;
}

button:hover { background-color: red}

td:nth-child(2),td:nth-child(3),td:nth-child(4) {text-align:center}